# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**
- Puthon
- R
- SQL
- Java
- Scala

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Scikit-learn

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [ ]:
(3*4)+5

In [ ]:
17

*This will convert 200 minutes to hours by diving by 60*

In [3]:
def minutes_to_hours(minutes: int) -> float:
    """
    Convert minutes to hours.
    
    Args:
        minutes (int): The number of minutes to convert.
        
    Returns:
        float: The equivalent time in hours.
    """
    return minutes / 60

# Example usage
minutes = 200
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Kostiantyn